body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
p.Normal {
	-epub-hyphens:none;
	color:#000000;
	font-family:Calibri, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:8px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Par-grafo-b-sico {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.indicacoes {
	color:#575756;
	font-family:Arial, sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.texto-sem-recuo {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.ParaOverride-1 {
	text-align:center;
}
span.CharOverride-1 {
	color:#ffffff;
	font-family:Addled, sans-serif;
	font-size:42px;
	font-style:normal;
	font-weight:100;
}
span.CharOverride-2 {
	color:#ffffff;
	font-family:"AvantGarde Md BT", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-3 {
	color:#0080c9;
	font-family:Calibri, sans-serif;
	font-size:36px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	font-family:Arial, sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	font-family:Arial, sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.CharOverride-6 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-7 {
	font-family:Arial, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	font-family:Arial, sans-serif;
	font-size:58%;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
#_idContainer000, #_idContainer012, #_idContainer184 {
	-ms-transform:translate(0.000px,36.313px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,36.313px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.87px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,36.313px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,36.313px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:54.49px;
	z-index:2;
}
#_idContainer001, #_idContainer013, #_idContainer185 {
	-ms-transform:translate(2.464px,115.533px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2.464px,115.533px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:64.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2.464px,115.533px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2.464px,115.533px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:104.21px;
	z-index:1;
}
#_idContainer002, #_idContainer014, #_idContainer186 {
	-ms-transform:translate(3.507px,100.009px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3.507px,100.009px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:63.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3.507px,100.009px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3.507px,100.009px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.01px;
	z-index:0;
}
#_idContainer003, #_idContainer015, #_idContainer187 {
	-ms-transform:translate(29.099px,23.562px) rotate(38.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(29.099px,23.562px) rotate(38.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.12px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(29.099px,23.562px) rotate(38.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(29.099px,23.562px) rotate(38.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:28.40px;
	z-index:3;
}
#_idContainer004, #_idContainer016, #_idContainer188 {
	display:inline-block;
	height:116px;
	position:relative;
	width:67px;
}
#_idContainer007, #_idContainer010 {
	display:inline-block;
	height:198px;
	position:relative;
	width:198px;
}
#_idContainer008 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:198.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:85.04px;
	z-index:0;
}
#_idContainer009 {
	-ms-transform:translate(113.385px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(113.385px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:198.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(113.385px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(113.385px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:85.04px;
	z-index:1;
}
#_idContainer011 {
	display:inline-block;
	height:85px;
	position:relative;
	width:85px;
}
#_idContainer017, #_idContainer021, #_idContainer027, #_idContainer031, #_idContainer037, #_idContainer041, #_idContainer049, #_idContainer053, #_idContainer057, #_idContainer064, #_idContainer068, #_idContainer072, #_idContainer079, #_idContainer083, #_idContainer087, #_idContainer095, #_idContainer099, #_idContainer103, #_idContainer110, #_idContainer114, #_idContainer118, #_idContainer125, #_idContainer129, #_idContainer133, #_idContainer141, #_idContainer145, #_idContainer150, #_idContainer155, #_idContainer162, #_idContainer167, #_idContainer173, #_idContainer178 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:316.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:501.09px;
	z-index:0;
}
#_idContainer018, #_idContainer022, #_idContainer028, #_idContainer032, #_idContainer038, #_idContainer042, #_idContainer050, #_idContainer054, #_idContainer058, #_idContainer065, #_idContainer069, #_idContainer073, #_idContainer080, #_idContainer084, #_idContainer088, #_idContainer096, #_idContainer100, #_idContainer104, #_idContainer111, #_idContainer115, #_idContainer119, #_idContainer126, #_idContainer130, #_idContainer134, #_idContainer142, #_idContainer146, #_idContainer151, #_idContainer156, #_idContainer163, #_idContainer168, #_idContainer174, #_idContainer179 {
	-ms-transform:translate(179.280px,85.565px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(179.280px,85.565px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:133.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(179.280px,85.565px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(179.280px,85.565px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:133.23px;
	z-index:1;
}
#_idContainer019, #_idContainer023, #_idContainer029, #_idContainer033, #_idContainer039, #_idContainer043, #_idContainer051, #_idContainer055, #_idContainer059, #_idContainer066, #_idContainer070, #_idContainer074, #_idContainer081, #_idContainer085, #_idContainer089, #_idContainer097, #_idContainer101, #_idContainer105, #_idContainer112, #_idContainer116, #_idContainer120, #_idContainer127, #_idContainer131, #_idContainer135, #_idContainer143, #_idContainer147, #_idContainer152, #_idContainer157, #_idContainer164, #_idContainer169, #_idContainer175, #_idContainer180 {
	-ms-transform:translate(-176.420px,-50.984px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-176.420px,-50.984px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:316.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-176.420px,-50.984px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-176.420px,-50.984px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:501.09px;
	z-index:0;
}
#_idContainer020 {
	-ms-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:196.69px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:139.99px;
	z-index:1;
}
#_idContainer024 {
	-ms-transform:translate(-0.001px,212.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,212.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:196.69px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,212.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,212.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:139.99px;
	z-index:0;
}
#_idContainer025 {
	-ms-transform:translate(1.417px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.417px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:122.97px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(1.417px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.417px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:138.90px;
	z-index:7;
}
#_idContainer026 {
	-ms-transform:translate(1.417px,252.490px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.417px,252.490px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:122.97px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(1.417px,252.490px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.417px,252.490px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:138.90px;
	z-index:6;
}
#_idContainer030 {
	-ms-transform:translate(168.661px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(168.661px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:196.69px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(168.661px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(168.661px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:139.99px;
	z-index:3;
}
#_idContainer034 {
	-ms-transform:translate(168.661px,212.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(168.661px,212.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:196.69px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(168.661px,212.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(168.661px,212.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:139.99px;
	z-index:2;
}
#_idContainer035 {
	-ms-transform:translate(170.078px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(170.078px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:122.97px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(170.078px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(170.078px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:138.90px;
	z-index:9;
}
#_idContainer036 {
	-ms-transform:translate(170.078px,252.490px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(170.078px,252.490px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:122.97px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(170.078px,252.490px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(170.078px,252.490px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:138.90px;
	z-index:8;
}
#_idContainer040 {
	-ms-transform:translate(337.322px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(337.322px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:196.69px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(337.322px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(337.322px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:139.99px;
	z-index:5;
}
#_idContainer044 {
	-ms-transform:translate(337.322px,212.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(337.322px,212.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:196.69px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(337.322px,212.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(337.322px,212.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:139.99px;
	z-index:4;
}
#_idContainer045 {
	-ms-transform:translate(338.740px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(338.740px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:122.97px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(338.740px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(338.740px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:138.90px;
	z-index:11;
}
#_idContainer046 {
	-ms-transform:translate(338.740px,252.490px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(338.740px,252.490px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:122.97px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(338.740px,252.490px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(338.740px,252.490px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:138.90px;
	z-index:10;
}
#_idContainer047 {
	display:inline-block;
	height:411px;
	position:relative;
	width:479px;
}
#_idContainer052, #_idContainer098, #_idContainer144 {
	-ms-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:196.69px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:139.99px;
	z-index:0;
}
#_idContainer056, #_idContainer102 {
	-ms-transform:translate(-0.001px,213.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,213.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:196.69px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,213.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,213.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:139.99px;
	z-index:6;
}
#_idContainer060 {
	-ms-transform:translate(0.000px,427.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,427.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:196.69px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,427.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,427.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:139.99px;
	z-index:12;
}
#_idContainer061, #_idContainer107, #_idContainer149, #_idContainer161 {
	-ms-transform:translate(1.417px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.417px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:122.97px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(1.417px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.417px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:138.90px;
	z-index:3;
}
#_idContainer062, #_idContainer108 {
	-ms-transform:translate(1.417px,253.198px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.417px,253.198px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:122.97px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(1.417px,253.198px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.417px,253.198px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:138.90px;
	z-index:9;
}
#_idContainer063, #_idContainer109 {
	-ms-transform:translate(1.417px,467.214px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.417px,467.214px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:122.97px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(1.417px,467.214px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.417px,467.214px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:138.90px;
	z-index:15;
}
#_idContainer067, #_idContainer113, #_idContainer153, #_idContainer170, #_idContainer176 {
	-ms-transform:translate(168.661px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(168.661px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:196.69px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(168.661px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(168.661px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:139.99px;
	z-index:1;
}
#_idContainer071, #_idContainer117 {
	-ms-transform:translate(168.661px,213.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(168.661px,213.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:196.69px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(168.661px,213.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(168.661px,213.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:139.99px;
	z-index:7;
}
#_idContainer075, #_idContainer121 {
	-ms-transform:translate(168.661px,427.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(168.661px,427.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:196.69px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(168.661px,427.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(168.661px,427.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:139.99px;
	z-index:13;
}
#_idContainer076, #_idContainer122, #_idContainer154, #_idContainer177 {
	-ms-transform:translate(170.078px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(170.078px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:122.97px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(170.078px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(170.078px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:138.90px;
	z-index:4;
}
#_idContainer077, #_idContainer123 {
	-ms-transform:translate(170.078px,253.198px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(170.078px,253.198px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:122.97px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(170.078px,253.198px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(170.078px,253.198px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:138.90px;
	z-index:10;
}
#_idContainer078, #_idContainer124 {
	-ms-transform:translate(170.078px,467.214px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(170.078px,467.214px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:122.97px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(170.078px,467.214px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(170.078px,467.214px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:138.90px;
	z-index:16;
}
#_idContainer082, #_idContainer128, #_idContainer158, #_idContainer181 {
	-ms-transform:translate(337.322px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(337.322px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:196.69px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(337.322px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(337.322px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:139.99px;
	z-index:2;
}
#_idContainer086, #_idContainer132 {
	-ms-transform:translate(337.322px,213.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(337.322px,213.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:196.69px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(337.322px,213.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(337.322px,213.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:139.99px;
	z-index:8;
}
#_idContainer090, #_idContainer136 {
	-ms-transform:translate(337.322px,427.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(337.322px,427.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:196.69px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(337.322px,427.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(337.322px,427.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:139.99px;
	z-index:14;
}
#_idContainer091, #_idContainer137, #_idContainer159, #_idContainer182 {
	-ms-transform:translate(338.740px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(338.740px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:122.97px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(338.740px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(338.740px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:138.90px;
	z-index:5;
}
#_idContainer092, #_idContainer138 {
	-ms-transform:translate(338.740px,253.198px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(338.740px,253.198px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:122.97px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(338.740px,253.198px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(338.740px,253.198px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:138.90px;
	z-index:11;
}
#_idContainer093, #_idContainer139 {
	-ms-transform:translate(338.740px,467.214px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(338.740px,467.214px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:122.97px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(338.740px,467.214px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(338.740px,467.214px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:138.90px;
	z-index:17;
}
#_idContainer094, #_idContainer140, #_idContainer183 {
	display:inline-block;
	height:626px;
	position:relative;
	width:479px;
}
#_idContainer106 {
	-ms-transform:translate(-0.001px,427.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,427.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:196.69px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,427.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,427.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:139.99px;
	z-index:12;
}
#_idContainer148, #_idContainer165 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:196.69px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:139.99px;
	z-index:0;
}
#_idContainer160 {
	-ms-transform:translate(0.000px,213.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,213.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:198.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,213.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,213.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:479.06px;
	z-index:6;
}
#_idContainer166 {
	-ms-transform:translate(1.417px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.417px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:122.97px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(1.417px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.417px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:138.90px;
	z-index:2;
}
#_idContainer171 {
	-ms-transform:translate(170.078px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(170.078px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:122.97px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(170.078px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(170.078px,39.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:138.90px;
	z-index:3;
}
#_idContainer172 {
	-ms-transform:translate(84.330px,427.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(84.330px,427.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:198.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(84.330px,427.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(84.330px,427.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:310.39px;
	z-index:7;
}
#_idContainer189, #_idContainer194, #_idContainer199, #_idContainer204, #_idContainer210, #_idContainer215, #_idContainer220, #_idContainer225, #_idContainer231, #_idContainer236, #_idContainer241, #_idContainer246, #_idContainer252, #_idContainer257, #_idContainer262, #_idContainer267, #_idContainer274, #_idContainer279, #_idContainer284, #_idContainer289, #_idContainer295, #_idContainer300, #_idContainer305, #_idContainer310, #_idContainer316, #_idContainer321, #_idContainer326, #_idContainer331, #_idContainer337, #_idContainer342, #_idContainer347, #_idContainer352 {
	-ms-transform:translate(-194.786px,-82.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-194.786px,-82.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:316.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-194.786px,-82.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-194.786px,-82.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:501.09px;
	z-index:0;
}
#_idContainer190, #_idContainer195, #_idContainer200, #_idContainer205, #_idContainer211, #_idContainer216, #_idContainer221, #_idContainer226, #_idContainer232, #_idContainer237, #_idContainer242, #_idContainer247, #_idContainer253, #_idContainer258, #_idContainer263, #_idContainer268, #_idContainer275, #_idContainer280, #_idContainer285, #_idContainer290, #_idContainer296, #_idContainer301, #_idContainer306, #_idContainer311, #_idContainer317, #_idContainer322, #_idContainer327, #_idContainer332, #_idContainer338, #_idContainer343, #_idContainer348, #_idContainer353 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:150.79px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:111.52px;
	z-index:0;
}
#_idContainer191, #_idContainer196, #_idContainer201, #_idContainer206, #_idContainer212, #_idContainer217, #_idContainer222, #_idContainer227, #_idContainer233, #_idContainer238, #_idContainer243, #_idContainer248, #_idContainer254, #_idContainer259, #_idContainer264, #_idContainer269, #_idContainer276, #_idContainer281, #_idContainer286, #_idContainer291, #_idContainer297, #_idContainer302, #_idContainer307, #_idContainer312, #_idContainer318, #_idContainer323, #_idContainer328, #_idContainer333, #_idContainer339, #_idContainer344, #_idContainer349, #_idContainer354 {
	-ms-transform:translate(1.057px,59.172px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.057px,59.172px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:34.44px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(1.057px,59.172px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.057px,59.172px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:111.40px;
	z-index:1;
}
#_idContainer192, #_idContainer197, #_idContainer202, #_idContainer207, #_idContainer213, #_idContainer218, #_idContainer223, #_idContainer228, #_idContainer234, #_idContainer239, #_idContainer244, #_idContainer249, #_idContainer255, #_idContainer260, #_idContainer265, #_idContainer270, #_idContainer277, #_idContainer282, #_idContainer287, #_idContainer292, #_idContainer298, #_idContainer303, #_idContainer308, #_idContainer313, #_idContainer319, #_idContainer324, #_idContainer329, #_idContainer334, #_idContainer350, #_idContainer355 {
	-ms-transform:translate(18.455px,72.025px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(18.455px,72.025px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.74px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(18.455px,72.025px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(18.455px,72.025px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:76.61px;
	z-index:2;
}
#_idContainer193, #_idContainer214, #_idContainer235, #_idContainer256, #_idContainer278, #_idContainer299, #_idContainer320, #_idContainer341 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:152.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:113.52px;
	z-index:0;
}
#_idContainer198, #_idContainer219, #_idContainer240, #_idContainer261, #_idContainer283, #_idContainer304, #_idContainer325, #_idContainer346 {
	-ms-transform:translate(127.689px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(127.689px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:152.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(127.689px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(127.689px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:113.52px;
	z-index:1;
}
#_idContainer203, #_idContainer224, #_idContainer245, #_idContainer266, #_idContainer288, #_idContainer309, #_idContainer330, #_idContainer351 {
	-ms-transform:translate(255.378px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(255.378px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:152.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(255.378px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(255.378px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:113.52px;
	z-index:2;
}
#_idContainer208, #_idContainer229, #_idContainer250, #_idContainer271, #_idContainer293, #_idContainer314, #_idContainer335, #_idContainer356 {
	-ms-transform:translate(383.067px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(383.067px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:152.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(383.067px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(383.067px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:113.52px;
	z-index:3;
}
#_idContainer209, #_idContainer230, #_idContainer251, #_idContainer272, #_idContainer294, #_idContainer315, #_idContainer336, #_idContainer357 {
	display:inline-block;
	height:153px;
	position:relative;
	width:497px;
}
#_idContainer340 {
	-ms-transform:translate(11.598px,72.025px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(11.598px,72.025px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.74px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(11.598px,72.025px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(11.598px,72.025px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:83.46px;
	z-index:2;
}
#_idContainer345 {
	-ms-transform:translate(12.602px,72.025px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(12.602px,72.025px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.74px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(12.602px,72.025px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(12.602px,72.025px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:82.46px;
	z-index:2;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ea504e;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#0080c9;
	border-width:0px;
}
div._idGenObjectStyleOverride-4 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectStyleOverride-5 {
	background-color:#dadada;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-color:#575756;
	border-style:solid;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-width:1px;
}
div._idGenObjectStyleOverride-6 {
	background-color:#ffffff;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-color:#575756;
	border-style:solid;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-width:1px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
