.listExample1 {
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none;
}

.listExample1 .text-bullet-test::before {
  content: "";
  border-color: transparent rgb(17, 17, 17);
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

.text-bullet::marker {
  content: "▶";
	color:rgb(223, 99, 92)
}


.chapterOneTrackImage {
display:flex;
justify-content: center;
}

.titleIrracionalNumbers{
text-align: center;
}

.principalContainerContent{
	display: flex;
	justify-content: center;
	font-size:20px;
}

.equationImage1{
	width: 20px;
}

.containerQuestion{
}

.equationImage2{
	width: 20px;
}

.containerQuestion{
	width: 500px;
}

.propostQuestionContainer{
	display: flex;
	flex-direction: row;
}

.text1::marker{
color:rgb(223, 99, 92)
}

.emblemImage{
	width: 80px;
}

.quoteImage{
	margin-top:50px;
	width: 550px;
}

.explicationAccountsContent{
	margin-top:130px;
	margin-left: -200px;
	text-indent: 25px;
}

.explicationAccount{
	display: flex;
	justify-content: center;
}

.equationImage3 {
	width: 80px;
}

.listExampleAccounts{
	margin-left: -150px;
}

.equationImage4{
	width: 20px;
}

.containerSeparateTriangle{
	margin-left:10px;
}

.equationImage5 {
	width: 20px;
}

.containerNumberPI{
	margin-left: -200px;
}

.textPI{
	color:rgb(223, 99, 92)
}

.textPi2{
	font-size:15px;
	text-indent: 25px;
	font-weight: 500;
}

.pageNumber{
	margin-top:50px;
	margin-left:26%;
	display: flex;
	justify-content: space-between;
	width:28.5%;
	align-items: center;
}

@media only screen and (max-width: 1800px) {
  .pageNumber {
    margin-left:29%;
  }
}

@media only screen and (max-width: 1600px) {
  .pageNumber {
    margin-left:0;
		width:57%;
  }
}

.textPageModule{
	font-size:15px;
	color:rgb(223, 99, 92)
}

.pageNumberImage{
	width:50px;
}






.secondPageContainer{
	display: flex;
	justify-content: center;
	margin-top:50px;
}

.contentSecondPage{
	flex-direction: column;
}

.organgeBar{
	display: flex;
	justify-content: center;
}

.orangeBarImage{
	width:1030px;
}

.listTextInitialQuestionSecondPage{
	font-size:23px;
	width: 780px;
	margin:0 auto;
	margin-left:-7px;
	text-align:center;
	text-indent: 0px;
}

.listAndImageQuestion{
	display: flex;
}

.containerMaterialsIndicator{
	width:360px;
}

.titleIndicatorListMaterials{
	font-size:25px;
	font-weight: 600;
	margin-left:20px;
}

.textBulletSecondPage {
	font-size: 300px;
}

.text-bullet{
	font-size: 23px;
	margin-top:15px;
}

.proceduresAndTableContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 1000px;
	margin:0 auto;
}

.titleIndicatorListProcedures{
	font-size:25px;
	font-weight: 600;
}

.questionText{
font-size:25px;
margin-top: 15px;
}

.numberQuestion{
	color:rgb(223, 99, 92)
}

.table{
	margin-top:25px;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 20px;
	color: white;
	font-size:20px;
}

.table-03 {
  width: 1000px;
  border-collapse: collapse;
  table-layout: fixed;
}

.table-03 th, .table-03 td {
  padding: 15px;
  border: 1px solid rgb(223, 99, 92);
}

.table-03 th {
  background-color: rgb(223, 99, 92);
}

.titleIndicatorAssembly{
	font-size:25px;
}

.materialsItemContainer{
	display: flex;
}

.materialsImage{
	width:1000px
}

.rulerTutorialContainer{
	font-size:27px;
}

.rulerItemContainer{
	display: flex;
	justify-content: center;
	margin-top:15px;
}

.pageNumber-inverse{
	margin-top:50px;
	margin-left:46.5%;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	width:28.5%;
	align-items: center;
}

@media only screen and (max-width: 1800px) {
  .pageNumber-inverse {
    margin-left:45%;
  }
}

@media only screen and (max-width: 1600px) {
  .pageNumber-inverse {
    margin-right:600px;
		width:55%;
  }
}

.emblemImageAbsolute{
	position:absolute;
	width:120px;
	left:1500px
}









.thirtyPageContainer{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top:50px;
}

.numberQuestion{
	color:rgb(223, 99, 92)
}

.contentThirtyPage{
	font-size:28px;
	width:1030px;
	margin:0 auto;
	text-indent: 50px;
}

.exampleOfFormulas2{
	text-align:center;
	align-items: center;
}

.accountsContent{
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.piNumbers{
	display: flex;
	justify-content: center;
}

.accountSpace{
	margin-left: 5px;
}

.quoteImage2{
	width:1010px;
}

.equationImage6{
	width: 100px;
}

.equationImage7{
	width: 50px;
}

.InitialTrack{
	margin-left:-30px;
	width:1070px;
}

.questionLetter{
	color:rgb(223, 99, 92);
	list-style: none;
}

.accountsOptions li{
	margin-top:30px;
	margin-left: -80px;
	list-style: none;
}

.letterQuestion {
	color:rgb(223, 99, 92);
}

.containerTwoQuestion{
	display: flex;
	font-size: 30px;
	text-indent: none;
}

.twoQuestionSeparate{
	margin-top:30px;
	list-style: none;
}

.spaceQuestion{
	margin-top:30px;
}

.questionImage{
	width: 250px;
}

.propostQuestion{
	text-indent: none !important;
	min-width: 250px;
}

.secondEmblemImage{
	position: absolute;
	margin-left: -90px;
	width: 80px;
}

.tireContainer{
	display: flex;
}

.numberQuestiontwoQuestion{
	margin-left:-60px;
	color:rgb(223, 99, 92)
}
.separatetwoQuestion{
	margin-top:10px;
}

.twoPartTwoQuestion{
	margin-left:20px;
}

.letterQuestion{
	margin-left: -50px;
}

.testeThree{
	margin-top: 20px;
}

.threeEmblemImage{
	width:70px;
}

.line{
	display: flex;
}





.contentFourthPage{
	font-size:28px;
	width:1030px;
	margin:0 auto;
	margin-top:20px;
	text-indent: 50px;
}

.questionImagePage17{
	width:170px;
}

.columnFiveQuestion{
	margin-top:30px;
}


.columnSixQuestion{
	margin-top:30px;
}


.containerFourthQuestion{
	display: flex;
}

.limitContainer{
	width: 2900px;
}

.numberQuestionFourthQuestion{
	margin-left:-60px;
	color:rgb(223, 99, 92)
}

.numberQuestionFiveQuestion{
	margin-left:-60px;
	color:rgb(223, 99, 92)
}

.numberQuestionSixQuestion{
	margin-left:-60px;
	color:rgb(223, 99, 92)
}

.graphic{
	width:500px;
}

.sevenEmblemImage{
	width:100px
}

.imageMen{
	width:500px
}

.star{
	display: flex;
	justify-content: center;
}

.starImage{
	width:200px;
}

.twoTablesImage{
	margin-top:30px;
	margin-left:-55px;
	width:500px;
}

.numberQuestionLetterAQuestion{
	margin-left:50px;
}

.startPosition{
	font-size: 30px;
	margin-left:-40px;
}

.letterBEmblemImage{
	width: 100px;
}

.containerChapterTwo{
	display:flex;
	justify-content: center;
}

.chapterTwoTrackImage{
	margin-top:50px;
}

.chapterTwoTrackImg{
	width:1070px;
}

.imageChapter{
	flex-direction: column;
}

.titleChapterTwo{
	margin-left:-120px;
	margin-top:-100px;
	text-align: center;
	font-size:27px;
}

.containerChapter2{
	display: flex;
	flex-direction: column;
}

.initialQuestionPart1{
	margin-left:-620px;
	margin-top:100px;
	font-size: 20px;
	text-align: center;
}

.initialQuestionPart1 p {
	font-size: 25px;
}

.question-1-text{
	font-size:30px;
	text-align: center;
}

.optionsQuestion{
	margin-left:-200px;
}

.optionsQuestion ul{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.optionsQuestion li{
	margin-left:200px;
}

.containerChapter2{
	width:1100px;
}

.question-2-text{
	font-size:30px;
	text-align: start;
}

.realNumbersTitle{
	color:rgb(223, 99, 92)
}

.textQuestionRealNumbers{
	text-indent: 80px;
	font-size: 30px;
}

.graphicChapter2Container{
	display: flex;
	justify-content: center;
}

.graphicChapter2{
width:700px;
}

.realNumbersTitleSub{
	color:rgb(223, 99, 92);
	font-size:28px;
}

.situationText{
	font-size:28px;
	font-weight: 700;
}

.teacherImageChapter2Container{
	display: flex;
	justify-content: center;
}

.teacherImagegraphicChapter2{
width:1000px;
}

.spaceOrange{
	margin-top:30px;
}

.containerTwoChapterTwo{
	display: flex;
	flex-direction: column;
}

.textInitialQuestionTwoChapterTwo{
	text-indent: 60px;
}

.contentContainerinitialQuestionTwoChapterTwo{
	margin: 0 auto;
	width:1000px;
}

.initialQuestionTwoChapterTwo{
	font-size:27px;
	text-align: start;
}

.imageOneEquationChapter2Container{
	display: flex;
	justify-content: center;
}

.imageOneEquationChapter2{
	width: 450px;
}

.explicationContinuation{
	font-size: 25px;
		margin-top: 400px;
}

.explicationContent{
 font-weight: 700;
	margin-top:50px;
	flex-direction: column;
}

.equationImageexplicationContinuation{
	margin-top:30px;
}

.equationImgexplicationContinuation{
	width:250px;
}

.BoardContainerImage{
	display: flex;
	justify-content: center;
}

.imageBoard{
	width: 1100px;
}

.explicationContentFinal{
	flex-direction: column;
}

.explicationContinuationFinal{
	font-size: 25px;
}

.imageEquation1{
	width: 250px;
}

.imageEquation2{
	width: 250px;
}

.alignImagesAccount li{
	align-items: center;
}

.explicationContentFinal{
	font-size:25px;
}

.equation5chapter2{
	width:40px;
}

.explicationContentFinal{
	width:750px;
}

.teacherTeachInContainerImage{
	display: flex;
	justify-content: center;
}

.imageteacherTeach{
	width:1000px;
}
