@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  font-family: "Roboto", sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

p {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 12px;
}

img {
  max-width: 100%;
  display: block;
}

main{
	background-color:rgb(211,211,211);
	width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* PÁGINA 12 */
.page12 {
	width: 100%;
	margin: 2% 10%;
	background-image: url('/resources/images/Mat_9_ano_U1_Abertura.png');
	height: 1200px;
	background-position: center;
	border-top: 35px solid #0083c9;
}

.page12 .title {
	color:#0080c9;
	font-family:Calibri, sans-serif;
	font-size:2rem;
	font-style:normal;
	font-variant:normal;
	line-height:1.2;
	padding: 18px 50px;
	display: flex;
	justify-content:center ;
	background-color: white;
	border-top:6px solid #91b9e2;
}

.page12 img{
	width: 200px;
	position: absolute;
	margin-top: -31px;
}

.page12 .terra {
	color: white;
	position: absolute;
	margin-top: 980px;
	margin-left: 85px;
}


/* PÁGINA 13 */


.page13 {
	width: 100%;
	margin: 2% 10%;
	background-image: url('/resources/images/Mat_9_ano_U1_Abertura.png');
	background-position: center;
	border-top: 35px solid #0083c9;
}

.page13 .title {
	color:#0080c9;
	font-family:Calibri, sans-serif;
	font-size:2rem;
	font-style:normal;
	font-variant:normal;
	line-height:1.2;
	padding: 40px 50px;
	display: flex;
	justify-content:center ;
	background-color: white;
	border-top:6px solid #91b9e2;
}

.page13 .middle {
	background-image: url('/resources/images/Mat_9_ano_U1_Background.jpg');
	background-position: center;
	width: 100%;
	padding: 100px 50px 130px 50px;
}

.page13 .card1 {
	background-image: url('/resources/images/MAT_9_ano_U1_c_lulas-tronco.png');
	background-position: center;
	height: 300px;
	width: 70%;
	margin: 0 auto;
	border-radius: 25px;
	border: 5px solid white;
}

.page13 .card2 {
	background-color: white;
    background-position: center;
    height: 240px;
    width: 80%;
    margin: -30px auto;
    transform: rotate(-2deg);
    border-radius: 25px;
    border: 5px solid white;
}

.page13 .card-title {
	text-align: center;
	font-size: 1.3rem;
	font-weight: bold;
	margin-top: 20px;
}

.page13 .card-text {
	font-size: 1.0rem;
}


.page13 .card-title , .card-text {
	transform: rotate(2deg);
	padding: 10px 40px;
}

.page13 .bottom {
	padding: 40px;
	border-left: 60px solid rgb(142, 142, 238);
	background-color: white;
}

.page13 li {
	font-size: 1.2rem;
	margin: 10px 0;
	list-style:decimal;
}

.page13 .bottom img {
	width: 100%;
}

.page13 .bottom-text {
	padding-left: 170px;
	font-size: 0.rem;
}

/* PÁGINA 13 */